<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div style="background-color:#eee; padding:10px 20px;">
        <h2 style="color:#454349;">Verifying OTP</h2>
    </div>
    <div style="padding:20px 0px">
        <div style="height: 500px;width:400px">
            <img src="https://dummyimage.com/500x300/000/fff&text=EventHub" style="height: 300px;">
            <div style="text-align:center;">
                <h3>Verifying OTP</h3>
                <p>Hello, it seems like you are trying to change your password.</p>
                <p>Well beware, somebody wants to login to your account, but if it is you, it is fine.</p>
                <p>The Verification OTP is <b>{{ otp }}</b></p>
                <p>I hope you were able to change your password... 😄😄😄</p><br /><br />
                <p>Regards, <br />EventHub</p>
            </div>
        </div>
    </div>
</body>
</html>
