{% extends 'base.html' %}

{% block content %}
<section>
    <header class="main">
        <h1>Password Changed</h1>
        <h2>Congratulations, you have changed you password</h2>
    </header>
    <p>
        <dl>
            <dt>You new password is: <b>{{ password }}</b></dt>
        </dl>
        {% if not user.is_authenticated %}
        <p><b>You have successfully changed your password... Please <a href="{% url 'login' %}">login here</a></b></p>    
        {% endif %}
    </p>
</section>
{% endblock %}