{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="post">
    <header>
        <div class="title">
            <h2>Change Password</h2>
            <p>Enter the OTP sent to the mail given on the previous page</p>
        </div>
    </header>
    <form action="/accounts/reset-password-otp/" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <font color="red">{{ message }} <br /></font><br />
        {% endfor %}
        <input type="email" name="email" placeholder="Email" required><br />
        OTP: <input type="number" min="1111" max="9999" name="otp" placeholder="OTP" required><br /><br />
        <h4>Refer your registered email for the OTP. Check the spam folder for our mail and mark us as not spam</h4><br />
        <input type="password" name="password1" placeholder="New Password" required><br />
        <input type="password" name="password2" placeholder="Confirm Password" required><br />
        <input type="submit" class="button icon solid fa-search" value="Reset Password">
    </form>
</article>
{% endblock %}

{% extends 'base.html' %}

{% block content %}
<section>
    <header class="main">
        <h1>Change Password</h1>
        <h2>Enter the OTP sent to the mail given on the previous page</h2>
    </header>
    <p>
        <form action="{% url 'verify_otp' %}" method="post">
            {% csrf_token %}
            {% for message in messages %}
            <p class="error">{{ message }} <br /></p><br />
            {% endfor %}
            <input type="email" name="email" placeholder="Email" required><br />
            OTP: <input type="number" min="1111" max="9999" name="otp" placeholder="OTP" required><br /><br />
            <h4>Refer your registered email for the OTP. Check the spam folder for our mail and mark us as not spam</h4><br />
            <input type="password" name="password1" placeholder="New Password" required><br />
            <input type="password" name="password2" placeholder="Confirm Password" required><br />
            <input type="submit" class="button icon solid fa-search" value="Reset Password">
        </form>
    </p>
</section>
{% endblock %}