{% extends 'base.html' %}

{% block content %}
<section>
    <header class="main">
        <h1>Change password</h1>
        <h2>Verify yourself and change your password</h2>
    </header>
    <p>
        <form action="{% url 'verify_email' %}" method="post">
            {% csrf_token %}
            {% for message in messages %}
            <p class="error">{{ message }} <br /></p><br />
            {% endfor %}
            <input type="email" name="email" placeholder="Email" required><br />
            <input type="submit" class="button icon solid fa-search" value="Verify">
        </form>
    </p>
</section>
{% endblock %}