{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Work Management</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Work Management</h1>
									</header>

									<div class="row gtr-uniform">
										{% if user.is_authenticated %}
										<div class="col-12 col-12-xsmall">
											{% if litigation_ %}
											<a href="{% url 'litigation_view_all' %}" class="button large">Litigation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endif %}
											{% if nonlitigation_ %}
											<a href="{% url 'nonlitigation_view_all' %}" class="button large">Non-Litigation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endif %}
											{% if litigation_ %}
											<a href="{% url 'notices_view_all' %}" class="button large">Notices</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endif %}
										</div>
										{% else %}
										<div class="col-12 col-12-xsmall">
											<a href="{% url 'login' %}" class="button primary large">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="{% url 'register' %}" class="button large">Register</a>
										</div>
										{% endif %}
										<br>
										<div class="col-12 col-12-xsmall">
											{% if user.is_superuser %}
											{% if user.is_staff %}
											<a href="/admin" target="_blank" class="button large">Admin Page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endif %}
											<a href="{% url 'view_employees' %}" class="button large">Employees</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{% endif %}
										</div>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Home</a></li>
										{% if user.is_authenticated %}
										{% if litigation_ %}
										<li>
											<span class="opener">Litigation</span>
											<ul>
												<li><a href="{% url 'litigation_view_all' %}">View Files</a></li>
												<li><a href="{% url 'litigation_new' %}">Add new file</a></li>
											</ul>
										</li>
										{% endif %}
										{% if nonlitigation_ %}
										<li>
											<span class="opener">Non Litigation</span>
											<ul>
												<li><a href="{% url 'nonlitigation_view_all' %}">View Files</a></li>
												<li><a href="{% url 'nonlitigation_new' %}">Add new file</a></li>
											</ul>
										</li>
										{% endif %}
										{% if litigation_ %}
										<li>
											<span class="opener">Notices</span>
											<ul>
												<li><a href="{% url 'notices_view_all' %}">View Notices</a></li>
												<li>
													<span class="opener">New Notice</span>
													<ul>
														<li><a href="{% url 'notices_new_sent' %}">Send</a></li>
														<li><a href="">Received</a></li>
													</ul>
												</li>
											</ul>
										</li>
										{% endif %}
										<li>
											<span class="opener">Hi {{ user.first_name }}</span>
											<ul>
												<li><a href="{% url 'logout' %}">Logout</a></li>
												{% if user.is_superuser %}
												<li><a href="/admin" target="_blank">Admin Page</a>
												{% endif %}
												<li><a href="{% url 'verify_email' %}">Change Password</a></li>
											</ul>
										</li>
										{% endif %}
									</ul>
								</nav>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>