{% extends 'base.html' %}

{% block content %}
<section>
    <header class="main">
        <h1>Notices</h1>
        <h2>View all Notices here. Click to view more details</h2>
    </header>
    <p>
        <a href="{% url 'notices_create_choices' %}" class="button">Create New</a><br><br>
        <input type="text" id="search_input" placeholder="Search..." >
        {% if notices %}
        <div class="table-wrapper">
            <table id="all_notices">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Completion Date</th>
                        <th>Type</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                    <tr>
                        {% if notice.notice_type == 'Sent' %}
                        <td><a href="{% url 'notices_view_sent_notice' notice_id=notice.id %}">{{ notice }}</a></td>
                        {% else %}
                        <td><a href="{% url 'notices_view_received' notice_id=notice.id %}">{{ notice }}</a></td>
                        {% endif %}
                        <td>{{ notice.completion_date }}</td>
                        <td>{{ notice.notice_type }}</td>
                        <td>{% if notice.completed %}Yes{% else %}<b>No</b>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <br>
        No notices created yet.
        {% endif %}
        <p id="no_result" style="display: none;">No results found!</p>
    </p>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get the input element, table, and no results message
    var input = document.getElementById('search_input');
    var table = document.getElementById('all_notices');
    var noResults = document.getElementById('no_result');

    // Add event listener for input
    input.addEventListener('input', function() {
    var filter = input.value.toUpperCase();
    var rows = table.getElementsByTagName('tr');
    var found = false;

    // Loop through all table rows, and hide those who don't match the search query
    for (var i = 1; i < rows.length; i++) { // Start from index 1 to skip header row
        var cells = rows[i].getElementsByTagName('td');
        var rowFound = false;
        for (var j = 0; j < cells.length; j++) {
        var cellText = cells[j].textContent || cells[j].innerText;
        if (cellText.toUpperCase().indexOf(filter) > -1) {
            rowFound = true;
            found = true;
            break;
        }
        }
        if (rowFound) {
        rows[i].style.display = '';
        } else {
        rows[i].style.display = 'none';
        }
    }

    // Show or hide the no results message based on whether any rows are found
    if (found) {
        noResults.style.display = 'none';
        table.style.display = ''; // Show the table
    } else {
        noResults.style.display = ''; // Show the no results message
        table.style.display = 'none'; // Hide the table
    }
    });
});
</script>
{% endblock %}